/* Begin scrollbar.css */
ul::-webkit-scrollbar {
  width: auto;
  height: auto;
}

ul::-webkit-scrollbar-track {
  background: var(--primary);
}

ul::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}

ul::-webkit-scrollbar-corner {
  background: var(--primary);
}
/* End scrollbar.css */

/* Begin project.css */
ul {
  overflow: scroll;
  position: relative;
  width: 50%;
  height: 80%;
  padding-inline-start: 0px;
  margin-block-end: 0px;
  background: var(--primary);
}

li.project {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  position: relative;
  width: 95%;
  height: 30%;
  border-radius: 20px;
  border: 2px solid #202020;
}

img.projectimage {
  position: relative;
  height: 100%;
  width: auto;
}

h2.projecttitle {
  font-size: 1.25vw;
}

a.projectthumb {
  text-decoration: none;
}
/* End project.css */

/* Begin colorscheme.css */
@media (prefers-color-scheme: dark) {
  body {
    --primary: #202020;
    --secondary: #D0D0D0;
  }
}
@media (prefers-color-scheme: light) {
  body {
    --primary: #D0D0D0;
    --secondary: #202020;
  }
}
/* End colorscheme.css */

